<%= error_messages_for(f.object) %>

<table summary = "Page form fields">
  <tr>
    <th>Title</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
    <th>Position</th>
   <td><%= f.text_field(:position) %></td>
  </tr>
   <th>Visible</th>
   <td><%= f.check_box(:visible) %></td>
  </tr>
  <tr>
    <th>Subject</th>
    <td><%= f.collection_select(:subject_id, Subject.all, :id, :name) %></td>
  </tr>
  <tr>
    <th>Content</th>
    <td><%= f.text_area(:content) %></td>
  </tr>
</table>