<div class = "pages index">
  <h2>Pages</h2>

  <%= link_to("Add New Page", new_page_path, :class => 'action new') %>

  <table class = "listing" summary = "Pages list">
    <tr class = "header">
      <th>#</th>
      <th>Subject</th>
      <th>Visible</th>
      <th>Subject</th>
      <th>Actions</th>
    </tr>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.position %></td>
        <td><%= page.name %></td>
        <td class = "center"><%= page.visible ? 'Yes' : "No" %></td>
        <td class = "center"><%= page.subject.name %></td>
        <td class = "actions">
          <%= link_to("Show", page_path(page), :class => 'action-show') %>
          <%= link_to("Edit", edit_page_path(page), :class => 'action-edit') %>
          <%= link_to("Delete", delete_page_path(page), :class => 'action-delete') %>
        </td>
      </tr>
    <% end %>
  </table>
</div>