<%= link_to("<< Back to List", pages_path, :class => 'back-link') %>

<div class = "pages new">
  <h2>Create Page</h2>

  <%= form_for(@page, :url => pages_path, :method => 'post') do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class = "form-buttons">
      <%= f.submit("Create Page") %>
    </div>

  <% end %>
</div>