<%= link_to("<< Back to List", pages_path, :class => 'back-link') %>
<br/>
<%= link_to("Edit", edit_page_path) %>

<div class = "subjects show">
  <h2><%= @page.name %></h2>
  <h3><%= @page.subject.name %></h3>
  <h4>Written <%= @page.created_at.strftime("%B %d, %Y %l:%M %p") %></h4>

  <% if @page.created_at != @page.updated_at %>
    <h4>Updated <%= @page.updated_at %></h4>
  <% end %>

  <p><%= @page.content %></p>
</div>