<%= error_messages_for(f.object) %>

<table summary = "Subject form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <th>Position</th>
  <td><%= f.text_field(:position) %></td>
  </tr>
  <th>Visible</th>
  <td><%= f.text_field(:visible) %></td>
  </tr>
</table>