<div class = "subjects index">
  <h2>Subjects</h2>

  <%= link_to("Add New Subject", new_subject_path, :class => 'action new') %>

  <table class = "listing" summary = "Subjects list">
    <tr class = "header">
      <th>#</th>
      <th>Subject</th>
      <th>Visible</th>
      <th>Pages</th>
      <th>Actions</th>
    </tr>
    <% @subjects.each do |subject| %>
    <tr>
      <td><%= subject.position %></td>
      <td><%= subject.name %></td>
      <td class = "center"><%= subject.visible ? 'Yes' : "No" %></td>
      <td class = "center"><%= subject.pages.size %></td>
      <td class = "actions">
        <%= link_to("Show", subject_path(subject), :class => 'action-show') %>
        <%= link_to("Edit", edit_subject_path(subject), :class => 'action-edit') %>
        <%= link_to("Delete", delete_subject_path(subject), :class => 'action-delete') %>
      </td>
    </tr>
      <% end %>
  </table>
</div>