$pearl_aqua: #84DCC6;
$azureish_white: #D6EDFF;
$zinnwaldite_brown: #230903;
$ceil: #8B95C9;
$wintergreen_dream: #478978;

header {
  background-color: $zinnwaldite_brown;
  color: $ceil;
  width: 100%;
  padding: 5px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body {
  color: $zinnwaldite_brown;
  background-color: $azureish_white;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 700px;
  width: 90%;
  margin: auto;
  padding: 10px;

  h2 {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color: $wintergreen_dream;
  }

  p {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color: $zinnwaldite_brown;
  }

  a {
    text-decoration: none;
    &:link {
      color: $ceil;
    }
    &:visited {
      color: $wintergreen_dream;
    }
    &:active {
      color: $zinnwaldite_brown;
    }
  }
}

.toolbar-header {
  flex: .05 0 10%;
}

.menu-button {
  flex: .05 1 5%;
  transition: .3s ease-in-out;
  margin: 0 5px;

  &:hover {
    transform: scale(1.2);
  }
}

.subject-menu {
  $subject-padding: 5px;
  background-color: $ceil;
  padding: 5px;
  font-family: 'Oswald', 'Avenir Next Condensed', sans-serif;
  color: $zinnwaldite_brown;
  display: flex;
  flex-direction: row;

  .toolbar-header {
    padding: $subject-padding;
    text-align: center;
  }

  .menu-button {
    text-align: center;
    padding: $subject-padding ($subject-padding + 3);
    text-decoration: none;
    color: $azureish_white;
    border-radius: ($subject-padding * 5);

    &:hover {
      background-color: $azureish_white;
      color: $ceil;
    }

    &:active {
      background-color: $zinnwaldite_brown;
      color: $ceil;
    }
  }
}

.admin-toolbar {
  $admin-padding: 3px;
  background-color: $wintergreen_dream;
  padding: $admin-padding;
  font-family: Oswald, "Avenir Next Condensed", sans-serif;
  color: $zinnwaldite_brown;
  display: flex;
  flex-direction: row;

  .toolbar-header {
    padding: $admin-padding;
    text-align: center;
  }

  .menu-button {
    text-align: center;
    padding: $admin-padding ($admin-padding + 3);
    text-decoration: none;
    color: $pearl_aqua;
    border-radius: ($admin-padding * 5);

    &:hover {
      background-color: $pearl_aqua;
      color: $wintergreen_dream;
    }

    &:active {
      background-color: $zinnwaldite_brown;
      color: $wintergreen_dream;
    }
  }
}

#login-button {
  margin-left: auto;
  margin-right: 5%;
  background-color: $wintergreen_dream;

  &:hover {
    color: $azureish_white;
  }
}

footer {
  background-color: $zinnwaldite_brown;
  color: $wintergreen_dream;
  padding: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

$red: #CC0000;
$green: #00CC00;
$blue: #0000CC;
.listing {
  a {
    border-radius: 10px;
    padding: 3px;
    margin: 3px;
    border: 10px;

    &:link, &:visited{
      color: $azureish_white;
    }
  }

  .action-show {
    &:link, &:visited {
      background-color: $green;
    }
  }

  .action-edit {
    background-color: $blue;
  }

  .action-delete {
    background-color: $red;
  }
}