<nav role = 'navigation' aria-label = 'admin toolbar' class = 'admin-toolbar'>
  <div class = 'toolbar-header'>Admin tools</div>
  <%= link_to('Subjects', subjects_path, class: 'menu-button') %>
  <%= link_to('Pages', pages_path, class: 'menu-button') %>
  <%= link_to('Users', users_path, class: 'menu-button') %>
</nav>