<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Pacifico|Roboto&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1>MySite</h1>
  </header>

  <!-- Subject navigation bar -->
  <nav role = 'navigation' aria-label = 'subjects menu' class = 'subject-menu'>
    <div class = 'toolbar-header'>Subjects:</div>
    <% Subject.order('position ASC').where(:visible => true).each do |subject|%>
      <%= link_to(subject.name, subject_path(subject.id), class: 'menu-button') %>
    <% end %>
    <%= link_to('log in', access_login_path, class: 'menu-button', id: 'login-button') %>
  </nav>
  <!-- Admin navigation bar -->
  <%= render(:partial => 'layouts/admin_toolbar') %>
  <!-- Yield -->
  <div class = "content"><%= yield %></div>
  <footer>
    Powered by Simple CMS
  </footer>
  </body>
</html>